:host {
    height: 70px;
    display: block;
    width: 100%;
}   
.nav-link{
    padding: 0;
}
.chatIcon{
    display:none;
}

@media (min-width: 992px) { 
    .chatIcon{
        display:block;
    }
}
