<a class="brandname" routerLink="">
	<img src="/assets/images/qynos-logo.jpeg" alt="Oynos Brand">
</a>

<ul class="d-flex align-items-center">

	<li class="">
		<a class="" routerLink="">
			<span>
				<img src="/assets/icons/dashboard.svg" alt="">
				<span>5</span>
			</span>
			<p>Dashboard</p>
		</a>
	</li>
	<li class="d-none d-md-block">
		<a class="" routerLink="">
			<span>
				<img src="/assets/icons/chat.svg" alt="">
				<span>5</span>
			</span>
			<p>Messages</p>
		</a>
	</li>
	<li class="">
		<a class="" routerLink="">
			<span>
				<img src="/assets/icons/notification.svg" alt="">
				<span>5</span>
			</span>
			<p>Notifications</p>
		</a>
	</li>
	<li class="user-profile">
		<a class="" routerLink="login" style="background-image: url('/assets/images/avatar.jpg');">
			
		</a>
	</li>
</ul>