:host{
    width: 100%;
    display: block;
    // height: 100%;
    > div  {
        // height: 100%;
    }
    .carousel-inner {
        // height: 100%;
    }
    .carousel-item {
        // height: 100%;
        background-size: contain;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
    }
}


.carousel-item{
    height: 35vh;
    img{
        // height: 35vh;
    }
} 
