<h5 class="text-secondary">Send Aploz</h5>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Your message here (optional)</label>
    <textarea class="form-control" placeholder="Eg. Thank you for the great work" id="exampleFormControlTextarea1" rows="3"></textarea>
    <small class="text-muted">Message typed in this section will be send along with yout aploz.</small>
</div>
<div class="d-flex justify-content-between">
    <p class="text-primary">Select Receipient</p>
    <button type="button" class="btn btn-secondary">Send Aploz</button>

</div>
