<h5 class="text-secondary mb-4">Send Aploz</h5>

<div class="stepper">
    <div class="step">
        <button>
            <span class="circle">1</span>
            <span class="label">Campaign</span>
        </button>
        <div class="line"></div>
        <div class="addon d-flex flex-column">
            <small class="w-100">North Star Launch campaign</small>
            <small class="text-muted w-100">1 March 2020  - 21 June 2020</small>
        </div>
    </div>
    <div class="step">
        <button>
            <span class="circle">2</span>
            <span class="label">Campaign</span>
        </button>
        <div class="line"></div>
        <div class="addon d-flex flex-column">
            <small class="w-100">North Star Launch campaign</small>
            <small class="text-muted w-100">1 March 2020  - 21 June 2020</small>
        </div>
    </div>
    <div class="step">
        <button>
            <span class="circle">3</span>
            <span class="label">Campaign</span>
        </button>
        <div class="line"></div>
        <div class="addon d-flex flex-column">
            <small class="w-100">North Star Launch campaign</small>
            <small class="text-muted w-100">1 March 2020  - 21 June 2020</small>
        </div>
    </div>
    <div class="step">
        <button>
            <span class="circle">4</span>
            <span class="label">Campaign</span>
        </button>
        <div class="line"></div>
        <div class="addon d-flex flex-column">
            <small class="w-100">North Star Launch campaign</small>
            <small class="text-muted w-100">1 March 2020  - 21 June 2020</small>
        </div>
    </div>
</div>

<div class="form-group mt-5">
    <label for="exampleFormControlTextarea1">Your message here (optional)</label>
    <textarea class="form-control" placeholder="Eg. Thank you for the great work" id="exampleFormControlTextarea1"
        rows="3"></textarea>
    <small class="text-muted">Message typed in this section will be send along with yout aploz.</small>
</div>
<div class="d-flex justify-content-between align-items-center">
    <p class="text-primary m-0">Select Receipient</p>
    <button type="button" class="btn btn-secondary">Send Aploz</button>

</div>