:host{
}
        .user-profile {
            position: relative;
            background-size: cover;
            background-position: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            .svg {
                width: 40px;
                height: 40px;
                fill: black;
            }
        }