<div class="title">Class VII A</div>

<div class="d-flex justify-content-center align-items-center w-100 flex-grow-1">
    <div class="images">
        <div style="background-image: url('/assets/images/avatar.jpg');">
            <span>8</span>
        </div>
        <div style="background-image: url('/assets/images/avatar.jpg');">
            <span>8</span>
        </div>
        <div style="background-image: url('/assets/images/avatar.jpg');">
            <span>8</span>
        </div>
    </div>
</div>