$bg: #f9e4e4;
:host{
    background-color: $bg;
    width: 100%;
    display: block;
    .title {
        color: rgba(0,0,0,0.7);
    }
    .images {
        position: relative;
        top: -10px;
        > div {
            display: inline-block;
            background-size: cover;
            background-position: center;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            box-shadow: 0 0 0 1px #F07524, inset 0 0 0 3px $bg;
            img {
                border-radius: 50%;
                width: 100%;
            }
            span {
                background-color: #F07524;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 2.6em;
                height: 1.6em;
                color: #fff;
                left: -0.6em;
                top: 0em;
                border-radius: 0.7em;
                font-size: 0.8em;
                box-shadow: 0 0 0 2px $bg
            }
            &:nth-of-type(1) {
                position: relative;
            }
            &:nth-of-type(2) {
                width: 70px;
                height: 70px;
                position: absolute;
                left: -52px;
                bottom: -4px;
            }
            &:nth-of-type(3) {
                width: 50px;
                height: 50px;
                position: absolute;
                right: -29px;
                bottom: -8px;
                span {
                    right: -1.6em;
                    left: auto;
                }
            
            }
        }
    }

}
