:host {
    color: #fff;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    .loginContainer{
        background: linear-gradient(to bottom, #c32e1a 7%, #cc7317 63%,#d28721 73%);
        padding: 20px;
        form {
            max-width: 600px;
    
            input {
                border-radius: 2px;
            }
        }
    }
    .brandingContainer{
        background-color: white;
        position: relative;
        padding: 20px;
        img {
            max-width: 100%;
        }
        .dragon {
            width: 40%;
            min-width: 150px;
            max-width: 300px;
            position: absolute;
            bottom: 50px;
            right: 2%;
        }
        .qynos {
            max-width: 293px;
            width: 60%;
        }
    }
}


@media (min-width: 992px) { 
    :host {
        flex-direction: row;
        .brandingContainer{
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            .dragon {
                width: 100%;
                left: -30%;
                bottom: 100px;
                right: auto;
                top: auto;
            }
        }
    }
}