<div class="d-flex flexContainer mb-3">

    <div class="p-2 flexItem active">
        <img src="/assets/icons/click.svg" alt="">
        <span>My Qynos</span>
    </div>
    <div class="p-2 flexItem">
        <img src="/assets/icons/chat.svg" alt="">
        <span>Messages</span>
    </div>
    <div class="p-2 flexItem">
        <img src="/assets/icons/gallery.svg" alt="">
        <span>Photos</span>
    </div>
    <div class="p-2 flexItem">
        <img src="/assets/icons/chat.svg" alt="">
        <span>Aploz</span>
    </div>
    <div class="p-2 flexItem">
        <img src="/assets/icons/vault.svg" alt="">
        <span>Vault</span>
    </div>

</div>