<ul>

    <li>
        <img src="/assets/icons/click.svg" alt="">
        <span>My Qynos</span>
    </li>
    <li class="active">
        <img src="/assets/icons/chat.svg" alt="">
        <span>Messages</span>
    </li>
    <li>
        <img src="/assets/icons/gallery.svg" alt="">
        <span>Photos</span>
    </li>
    <li>
        <img src="/assets/icons/chat.svg" alt="">
        <span>Aploz</span>
    </li>
    <li>
        <img src="/assets/icons/vault.svg" alt="">
        <span>Vault</span>
    </li>
</ul>