<div class="d-flex flexContainer mb-3">
    <div class="p-2 flexItem"><img src="/assets/icons/chat.svg" width="70" height="30" alt="Chat Icon"><span>My Qynos</span></div>
    <div class="p-2 flexItem active"><img src="/assets/icons/chat.svg" width="70" height="30" alt="Chat Icon"><span>Messages</span></div>
    <div class="p-2 flexItem"><img src="/assets/icons/chat.svg" width="70" height="30" alt="Chat Icon"><span>Photos</span></div>
    <div class="p-2 flexItem"><img src="/assets/icons/chat.svg" width="70" height="30" alt="Chat Icon"><span>Aploz</span></div>
    <div class="p-2 flexItem"><img src="/assets/icons/chat.svg" width="70" height="30" alt="Chat Icon"><span>Vault</span></div>

</div>
