:host {
    display: flex;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px 0 10px;
    z-index: 100;
    background: #fff;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.3);
    ul {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
        li {
            display: flex;
            flex-direction: column;
            width: 20%;
            justify-content: center;
            align-items: center;
            img {
                width: 30px;
                display: inline-block;
                margin: 0 15px;
            }
            span {
                margin-top: 5px;
                font-size: 0.9em
            }
        }
    }
}

@media (min-width: 992px) { 
    :host {
        position: static;
        width: 250px;
        min-width: 250px;
        height: 100vh;
        padding: 0;
        box-shadow: none;
        ul {
            flex-direction: column;
            li {
                border: 1px solid black;
                flex-direction: row;
                justify-content: flex-start;
                width: 100%;
                padding: 20px 0;
                border-collapse: collapse;
                &:not(:last-child) {
                    border-bottom: none;
                }
                img {

                }
                span {
                    margin-top: 0;
                    font-size: 1em;
                }
                &.active {
                    border-top: 1px solid black;
                    border-right: none;
                    border-left: 6px solid orangered;
                }
            }
        }
    }
}