:host {
    background-color: green;
    display: flex;
    position: fixed;
    width: 100%;
    height: 55px;
    left: 0;
    bottom: 0;
}

@media (min-width: 992px) { 
    :host {
        position: static;
        width: 250px;
        height: 100vh;
    }
    .flexContainer{
        flex-direction: column;
    }
}