<div class="d-flex flex-column">
    <div class="upper d-flex flex-column">
        <div class="float-right ml-auto">
            <span class="badge badge-warning mr-2">Open</span>
            <span class="badge badge-dark">Pending</span>
        </div>
        <div class="row">
            <img src="/assets/icons/user.svg" width="70" height="40" alt="Avatar Icon">
            <div class="flex-column">
                <div class="text-info">Prakash Mehta</div>
                <div class="subtitle">Teacher, Physical Training - USA</div>

            </div>
        </div>
        
    </div>
    <div class="middle">
        <span class="subtitle">For the Value displayed</span>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ab quibusdam id? Explicabo
            cum magni dolorem ab! Corporis a, saepe distinctio, praesentium ad odit neque nam ea dicta amet minima!
        </div>
        <span class="subtitle">Say Thank You</span>

    </div>
    <div class="lower bg-success">
        <div>Given an Aploz lately? </div>
        <div>APLOZ </div>
    </div>

</div>