<div class="d-flex flex-column ">
    <div class="d-flex flex-column">
        <div class="float-right ml-auto">
            <span class="badge badge-warning mr-2">Open</span>
            <span class="badge badge-dark">Pending</span>
        </div>
        <div class="row">
            <img src="/assets/icons/user.svg" width="70" height="40" alt="Avatar Icon">
            <div class="flex-column">
                <div class="text-info">Prakash Mehta</div>
                <small class="text-muted">Teacher, Physical Training - USA</small>

            </div>
        </div>
    </div>
    <div>
        <small class="text-muted">For the Value displayed</small>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ab quibusdam id? Explicabo
            cum magni dolorem ab! Corporis a, saepe distinctio, praesentium ad odit neque nam ea dicta
            
        </div>
        <small class="text-muted">Say Thank You</small>
    </div>
    <div class="lower bg-success">
        <small>Given an Aploz lately? </small>
        <div style="font-size: 30px;">Aploz </div>
        <img class="align-self-end" src="assets/icons/fast-forward.svg" width="70" height="30" alt="Fast-Forward Icon"/>
    </div>
    <!-- fast-forward -->
</div>