<div class="d-flex flex-column ">
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-end">
            <span class="badge mr-2">Open</span>
            <span class="badge">Pending</span>
        </div>
        <div class="d-flex flex-colum mt-3">
            <div class="user-icon mr-2" style="background-image: url('/assets/icons/user.svg');">

            </div>
            <div class="d-flex flex-column">
                <small class="text-muted">Aploz from</small>
                <div class="text-info">Prakash Mehta</div>
                <small class="text-muted">Teacher, Physical Training - USA</small>
            </div>
        </div>
    </div>
    <div class="mt-2">
        <small class="text-muted">For the Value displayed</small>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ab quibusdam id? Explicabo
                cum magni dolorem ab! Corporis a, saepe distinctio, praesentium ad odit neque nam ea dicta
            </p>
        </div>
        <div class="options">
            <small class="text-muted">
                Say <span>Thank You</span> or write a <span>comment</span>
            </small>
        </div>
    </div>
    <div class="bottom">
        <small>Given an Aploz lately? </small>
        <div style="font-size: 30px;">Aploz </div>
        <img class="align-self-end" src="assets/icons/fast-forward.svg" width="70" height="30" alt="Fast-Forward Icon"/>
    </div>
    <!-- fast-forward -->
</div>