:host{
    display: flex;
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
}
.lower{
    background: linear-gradient(to right, rgba(247, 134, 68, 0.863), rgb(231, 76, 29));
    color: white;
    padding:10px;
}