:host{
    width: 100%;
    display: block;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 15px;
    svg {
        width: 15px;
        fill: black;
    }
    .user-details { 
        .name {
            line-height: 1em;
        }
        
        .image {
            position: relative;
            background-size: cover;
            background-position: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            min-width: 40px;
            height: 40px;
        }
    }
    .separator {
        small {
            font-size: 0.7em;
            line-height: 1.1em;
        }
    }
}