    <div class="d-flex w-100 align-items-stretch">
        <div class="d-flex user-details">
            <div class="image mr-2" style="background-image: url('/assets/images/avatar.jpg');"></div>
            <div class="d-flex flex-column justify-content-between">
                <div class="text-primary name mb-1">Seema Pandit</div>
                <small class="text-muted">Teacher, Class VIII - VISA</small>
            </div>
        </div>
        <div class="text-center ml-2 mr-2 d-flex flex-column justify-content-around align-items-center separator">
            <svg viewBox="0 0 280 280" >
                <path d="M265.171,125.577l-80-80c-4.881-4.881-12.797-4.881-17.678,0c-4.882,4.882-4.882,12.796,0,17.678l58.661,58.661H12.5
                c-6.903,0-12.5,5.597-12.5,12.5c0,6.902,5.597,12.5,12.5,12.5h213.654l-58.659,58.661c-4.882,4.882-4.882,12.796,0,17.678
                c2.44,2.439,5.64,3.661,8.839,3.661s6.398-1.222,8.839-3.661l79.998-80C270.053,138.373,270.053,130.459,265.171,125.577z"
                />
            </svg>
            <!-- <img src="assets/icons/right-arrow.svg" width="30"> -->
            <small class="text-muted">12:41 pm</small>
        </div>
        <div class="d-flex user-details">
            <div class="image mr-2" style="background-image: url('/assets/images/avatar.jpg');"></div>
            <div class="d-flex flex-column">
                <div class="text-primary name mb-1">Prakash Mehta</div>
                <small class="text-muted">Teacher, Class VIII - VISA</small>
            </div>
        </div>
    </div>
    <div class="content d-flex flex-column w-100 mt-3">
        <small class="text-muted">For the value displayed.</small>
        <div>
            <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, adipisci sapiente. Asperiores maiores saepe Ipsa, ab.</p>
        </div>
    </div>