<h5 class="text-secondary">Aploz Exchange</h5>

<select class="form-control w-100 mb-3 mt-2" id="exampleFormControlSelect1" style="max-width: 15em;">
    <option>Campaign Name Two</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
</select>

<ul class="nav nav-tabs mb-2 d-flex" id="myTab" role="tablist">
    <li class="nav-item w-50 text-center">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">DISPLAYED BY ME</a>
    </li>
    <li class="nav-item w-50 text-center">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">OBSERVED BY ME</a>
    </li>
</ul>
<div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <select class="form-control" id="exampleFormControlSelect1" style="max-width: 15em;">
            <option>Not acknowledged yet</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <select class="form-control" id="exampleFormControlSelect1" style="max-width: 15em;">
            <option>Not acknowledged yet</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
</div>

<div class="d-flex flex-column">
    <div class="d-flex mt-4">
        <div class="user-icon mr-2" style="background-image: url('/assets/images/avatar.jpg');"></div>
        <div class="d-flex flex-column">
            <small class="text-muted">Aploz from</small>
            <div class="text-info">Prakash Mehta</div>
            <small class="text-muted">Teacher, Physical Training - USA</small>
        </div>
        <small class="text-muted ml-auto">03.30am</small>
    </div>
    <div class="d-flex mt-4">
        <div class="user-icon mr-2" style="background-image: url('/assets/images/avatar.jpg');"></div>
        <div class="d-flex flex-column">
            <small class="text-muted">Aploz from</small>
            <div class="text-info">Prakash Mehta</div>
            <small class="text-muted">Teacher, Physical Training - USA</small>
        </div>
        <small class="text-muted ml-auto">03.30am</small>
    </div>

    <div class="d-flex mt-4">
        <div class="user-icon mr-2" style="background-image: url('/assets/images/avatar.jpg');"></div>
        <div class="d-flex flex-column">
            <small class="text-muted">Aploz from</small>
            <div class="text-info">Prakash Mehta</div>
            <small class="text-muted">Teacher, Physical Training - USA</small>
        </div>
        <small class="text-muted ml-auto">03.30am</small>
    </div>


</div>
