<div class="d-flex flex-column">
    <h5 class="text-muted mb-3">Aploz Social</h5>
    <div class="d-flex flex-column justify-content-center">
        <app-aploz-social-item class="mb-3"></app-aploz-social-item>
        <app-aploz-social-item class="mb-3"></app-aploz-social-item>
        <app-aploz-social-item class="mb-3"></app-aploz-social-item>
        <app-aploz-social-item class="mb-3"></app-aploz-social-item>
        <app-aploz-social-item class="mb-3"></app-aploz-social-item>
    </div>
</div>
