<div class="d-flex justify-content-between mb-2 w-100">
    <div class="font-weight-bold text-secondary">Stories</div>
    <div class="text-secondary">See all</div>
</div>

<div class="d-flex overflow-auto w-100 mw-100">
    <app-story-list-item></app-story-list-item>
    <app-story-list-item></app-story-list-item>
    <app-story-list-item></app-story-list-item>
    <app-story-list-item></app-story-list-item>
    <app-story-list-item></app-story-list-item>
    <app-story-list-item></app-story-list-item>
    <app-story-list-item></app-story-list-item>
    <app-story-list-item></app-story-list-item>
    <app-story-list-item></app-story-list-item>
    <app-story-list-item></app-story-list-item>
</div>