/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
* {
    // box-shadow: 0 0 0 1px green;
}

.card {
    padding: 10px 10px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .title {
        color: rgba(0,0,0,0.7);
        margin-bottom: 20px;
    }
}
