:host {
    display: flex;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    flex-direction: column;
    // overflow: hidden;

}

#contentContainer {
    flex-grow: 1;
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 0 2%;
    margin-top: 40px;
}
#mainContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 100px;
}

@media (min-width: 992px) { 
    #mainContent{
        flex-direction: row;
    }
}
