:host {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

#contentContainer {
    background-color: pink;
    flex-grow: 1;
    display: flex;
    width: 100%;
}

#mainContent {
    flex-grow: 1;
    background-color: blueviolet;
}

