:host {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

#contentContainer {
    flex-grow: 1;
    display: flex;
    width: 100%;
    padding: 0 2%;
    margin-top: 40px;
}
#mainContent {
    // background-color: green;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media (min-width: 992px) { 
    #mainContent{
        flex-direction: row;
    }
}
