@import "~src/variables.scss";
$bg: #dae8f5;
:host{
    background-color: $bg;
    width: 100%;
    .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 1px solid $ac1;
        background-color: white;
    }
    svg {
        position: absolute;
        width: 20px;
        right: 20px;
        bottom: 20px;
        fill: #48988b;
    }
}